@import 'variables';
@import 'include-media';
@import 'others';
@import 'helpers';
@import 'themes';
@import 'transition';
body {
  font-family: $font-family-normal;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: visible !important;
  overflow-x: hidden !important;

  &.color-weak {
    filter: invert(80%);
  }

  &.gray-mode {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }
}

a:focus,
a:active,
button,
div,
svg,
span {
  outline: none !important;
}

body {
  background: var(--background);
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  color: var(--text-primary);
}
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  // background: rgba(0, 0, 0, 0.6);
  background-color: rgba(144, 147, 153, 0.3);
  // background-color: rgba(144, 147, 153, 0.3);
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 2px;
    background-color: red;
    opacity: 0.75;
  }
}

i.icon {
  font-family: 'zing-mp3';
  display: flex;
}

.btn {
  cursor: pointer;
  text-align: center;
  user-select: none;
  outline: none;
  border: none;
  position: relative;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  padding: 10px;
  &.rounded {
    border-radius: 100%;
  }
  color: var(--text-secondary);
  background: var(--alpha-bg);
  &.is-active {
    background: var(--primary) !important;
    color: #fff;
  }
  &.zing {
    background: var(--primary) !important;
    color: #fff;
    border-radius: 999px;
    padding: 10px 25px;
    span {
      line-height: 1.2;
    }
  }
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex !important;
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--text-secondary);
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ps__rail-y {
  z-index: 1111;
}

